 body {
  font-family: 'Roboto', serif;
 	display: flex;
  min-height: 100vh;
  flex-direction: column;
}    

#wrapper {
	flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

#header {
	color: $secondary-color;
	background-color: $primary-color;
	padding: 5px;
	flex: 0 0 0%;
}

#content {
	flex: 1 1 0%;
}

#sidebar {
	color: $primary-color;
	background-color: $secondary-color;
	padding: 5px;
}

#footer {
	color: $primary-color;
	background-color: $secondary-color;
	padding: 5px;
	flex: 0 0 40px;
}

h1, h2, h3, h4, h5, .logo {
	font-family: 'Oswald', serif;
}

.logo {
	background: url(/assets/logo.svg) left top no-repeat;
	padding-left: 90px;
	font-size: 48px;
	color: $white;
	text-transform: uppercase;
	&:hover {
		text-decoration: none;
		color: $white;
	}
}

.glyphicon {
	margin-right: 6px;
	&:before {
		line-height: 1.2;
	  vertical-align: middle;
	}
}

.field_with_errors {
	input {
		
	}
}